@page "/extensionsissue"

<h1>This is a sample page which reproduces the duplicate nested extensions issue.</h1>
<p>Below, extension A will be rendered:</p>

<Extension Name="sample-extension-a"></Extension>