@attribute [PiralExtension("sample-extension-d")]

<div class="extension-d">
    <p>Hello from extension d!</p>
</div>


<style>
    .extension-d {
        padding: 10px;
        border: 2px solid yellow;
        box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.1), 0 3.2px 7.2px rgba(0, 0, 0, 0.13);
        border-radius: 6px;
    }
</style>