@attribute [PiralExtension("sample-extension-c")]

<div class="extension-c">
    <p>Hello from extension c!</p>
    
    <p>Below is extension-d</p>
    <Extension Name="sample-extension-d"></Extension>
</div>

<style>
    .extension-b {
        padding: 10px;
        border: 2px solid green;
        box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.1), 0 3.2px 7.2px rgba(0, 0, 0, 0.13);
        border-radius: 6px;
    }
</style>